* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background: #5c258d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5c258d, #4389a2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5c258d, #4389a2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  color: #d3d3d3;
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  height: 100vh;
  position: relative; }

.wrapper {
  margin: 0 auto;
  max-width: 90rem;
  min-height: 100vh; }

/*INPUTS*/
.input {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 2rem; }

.input__description {
  flex: 3;
  text-align: left; }

.input__value {
  flex: 1;
  text-align: left; }

.input > div:not(:last-child) {
  margin-right: 2rem; }

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px; }

.switch input {
  display: none; }

.switch input {
  display: none; }

.slider {
  background-color: #49a09d;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s; }

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px; }

input:checked + .slider {
  background-color: #ff677d; }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.top-panel {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding: 2rem;
  text-align: center; }

.summary {
  line-height: 1;
  margin-bottom: 4rem; }

.summary__month {
  font-size: 1.8rem;
  color: #f0eeee;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500; }

.summary__value {
  font-weight: 600;
  font-size: 6.5rem;
  margin-bottom: 1.5rem; }

.summary__label {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }

.lower-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #49a09d;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 4rem; }

.lower-panel__income {
  color: #49a09d;
  flex: 1; }

.lower-panel__expenses {
  color: #ff677d;
  flex: 1; }

.lower-panel__expenses--percentage {
  font-weight: 300;
  font-size: 1.5rem; }

.lower-panel__income-label,
.lower-panel__expenses-label {
  display: flex;
  align-items: center;
  justify-content: center; }
